VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_OPENAI_PROXY_URL=
TASKIFLO_APP_URL=http://127.0.0.1:8787
GOOGLE_CLIENT_ID=
GOOGLE_SCOPES=https://www.googleapis.com/auth/gmail.compose https://www.googleapis.com/auth/gmail.send
META_CLIENT_ID=
META_API_VERSION=v22.0
META_SCOPES=pages_show_list,pages_read_engagement,pages_manage_posts,instagram_basic,instagram_content_publish
TIKTOK_CLIENT_KEY=
TIKTOK_SCOPES=user.info.basic,video.upload,video.publish
SHOPIFY_APP_URL=http://127.0.0.1:8787
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
SHOPIFY_SCOPES=read_products,read_inventory
SHOPIFY_API_VERSION=2026-04
